
# do not commit compiled files to source
_site/
todo.txt
*~

# do not commit data (pdf, images and such to source)
# assets/pdf/*
# assets/img/*

## jekyll
.jekll-cache/
.jekyll-metadata


# Mac crap
.DS_Store
