.profile {
    // img {
    //     box-shadow: 0 0 5px $dark-gray;
    //     border-radius: 100px; // make the picture circular
    //     border: 3px solid #FFF;        
    //     width: 95%;
    //     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    //     filter: grayscale(100%);        
    // }

    // round image
    img{
      // display: block;
      // height: 120px;
      width: 85%;
      height: auto;
      border-radius: 125px;
      margin: 10px;      
      border: 3px solid #FFF;
      box-shadow: 0 0 7px 0px $dark-gray;  
      // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      // filter: grayscale(100%);        
    }


    // img:hover {
    //         filter: none;
    //         -webkit-filter: grayscale(0%);
    //     }
}
.address {
    font-family: monospace;

    p { margin: 0; }
}

.news {
    border-top: 1px solid $grey-color-light;
    margin-top: 30px;
    padding-top: 20px;

    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;

        .date { width: 19%; }
        .announcement { width: 81%; }

        tr { text-align: left; }
        td {
            padding: 6px 0;
            vertical-align: top;
            border: none;
        }
    }
}

.social {
    border-top: 1px solid $grey-color-light;
    margin-top: 50px;
    padding-top: 20px;
}
