.publications {
    h2 {
        color: $dark-gray;
        // border-bottom: 1px solid $theme-color;
        // border-top: 1px solid $theme-color;
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 20px;
        // padding: 20px 0;
        text-align: left;
        border-top: 1px solid $lighter-gray;
    }
    h3 {
        color: $dark-gray;
        // border-bottom: 1px solid $theme-color;
        // border-top: 1px solid $theme-color;
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
        // padding: 20px 0;
        text-align: left;
        // border-top: 1px solid $lighter-gray;
    }    
    ol,ul {
        list-style: none inside;
        // margin-left: -30px;
        padding-left: $space-1;
    }
}
.year {
    border-top: 1px solid $light-gray;
    color: $light-gray;
    margin: 0 -3em -2.5ex -2em;
    padding-top: 1ex;
    text-align: right;
}
.bibliography {
    margin-bottom: 10px;
    margin-top: 10px;
    list-style-type: none;
    h2 {
        border-top: 1px solid $light-gray;
        color: $light-gray;
        margin: 20px -3em 20px -2em;
        padding-top: 1ex;
        text-align: right;
    }
    ol {
        list-style: none inside;        
        margin-left: -30px;
    }
    ul {    
        margin-left: -30px;
        list-style: none inside;        
    }    
    li {
        border-left: 1px solid #ccc;
        padding-left: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        // margin: 10px 0;
        position: relative;
        color: $light-gray;
        font-size: 0.9rem;

        span { display: block; }
        .title { 
            font-size: $base-font-size;
            font-weight: bolder; 
            color: $dark-gray;
            a {
                font-weight: 500; 
                color: $dark-gray;
            }
        }
        .author {            
            a {
                border-bottom: 1px dashed $theme-color;
                &:hover {
                    border-bottom-style: solid;
                    text-decoration: none;
                }
            }
            > em {
                // border-bottom: 1px solid;
                font-style: bolder;
            }
        }
        a.abstract, a.bibtex { cursor: pointer; }
        .hidden {
            font-size: $small-font-size;
            max-height: 0px;
            overflow: hidden;
            text-align: justify;
            -webkit-transition: 0.15s ease;
            -moz-transition: 0.15s ease;
            -ms-transition: 0.15s ease;
            -o-transition: 0.15s ease;
            transition: all 0.15s ease;

            p {
                line-height: 1.4em;
                margin: 10px;
            }
            pre {
                font-size: 1em;
                line-height: 1.4em;
                padding: 10px;
            }
        }
        .hidden.open {
            max-height: 100em;
            -webkit-transition: 0.15s ease;
            -moz-transition: 0.15s ease;
            -ms-transition: 0.15s ease;
            -o-transition: 0.15s ease;
            transition: all 0.15s ease;
        }
        span.abstract.hidden {
            border: dashed 1px $background-color;
        }
        span.abstract.hidden.open {
            border-color: $grey-color;
        }
    }
    abbr {
        position: absolute;
            left: -7em;
    }
 }
.star {
    color: $theme-color;
    font-style: normal;
}
